[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest -x"
test_report = "bash -c 'pytest --cov-report=html && python -m http.server --directory htmlcov'"
deploy = "./deploy.sh"

[packages]
pydantic = "*"
structlog = "*"
google-cloud-functions = "*"
semver = "*"
firebase-admin = "*"
functions-framework = "==2.1.0"
google-cloud-pubsub = "*"
pygithub = "*"
environs = "*"
flask-cors = "*"

[dev-packages]
mypy = "*"
pylint = "*"
black = "==20.8b1"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
