[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pytest"
serve = "functions-framework --port 5000 --target github_webhook_listener"
deploy = "./deploy.sh"

[packages]
pydantic = "*"
structlog = "*"
firebase-admin = "*"
pygithub = "*"

[dev-packages]
mypy = "*"
pylint = "*"
black = "==20.8b1"
functions-framework = "==2.1.0"
pytest = "*"
pytest-cov = "*"
requests = "*"

[requires]
python_version = "3.9"
